* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(242, 112, 156),
    rgb(255, 148, 114)
  );
}

.main {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  font-size: 32px;
  font-weight: bold;
  color: #fff; /* Changed to white */
  margin-bottom: 30px;
}

.container {
  width: 60%;
}

.textarea {
  width: 100%;
  min-height: 300px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #fff; /* Changed to white */
  padding: 10px;
  font-size: 16px;
  outline: none;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Added a transparent white background */
  color: #fff; /* Changed to white */
}

.btn {
  width: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Changed to a transparent white background */
  color: white;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #fff; /* Changed to white */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* Added a slightly brighter border color on hover */
}

.btn:disabled {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #ccc;
  cursor: not-allowed;
}

.result {
  width: 100%;
  min-height: 300px;
  border-radius: 5px;
  border: 1px solid #fff; /* Changed to white */
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  white-space: pre-wrap;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Added a transparent white background */
  color: #fff; /* Changed to white */
  overflow: auto;
}
