* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f3f3f3;
}

.main {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  font-size: 32px;
  font-weight: bold;
  color: #444;
  margin-bottom: 30px;
}

.container {
  width: 60%;
}

.textarea {
  width: 100%;
  min-height: 300px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.btn {
  width: 100%;
  background-color: #ffa94d;
  color: white;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffc078;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.result {
  width: 100%;
  min-height: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  white-space: pre-wrap;
  background-color: #fff;
  overflow: auto;
}
